@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #0b0c10;
  width: 100vw;
  height: 100vh;
}

.line {
  transition: width 0.3s ease;
}
.hover-effect:hover .line {
  width: 2cm;
}

.glassy {
  border-radius: 10px;
}

.glassy:hover .arrow {
  transform: translate(5px, -5px) rotate(45deg);
  color: #66fcf1;
  transition: all 0.1s ease;
}

.glassy:hover img {
  opacity: 100%;
  transition: all 0.3s ease;
}

.glassy:hover {
  background: rgba(102, 252, 241, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px);
  transition: all 0.5s ease;
}

.glassy:hover .title {
  color: #66fcf1;
}

.arrow {
  transform: rotate(45deg);
}

.resume:hover .arrow {
  transform: translate(2px, -5px) rotate(45deg);
  transition: all 0.1s ease;
}
