@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

.line {
  transition: width 0.3s ease;
}
.hover-effect:hover .line {
  width: 2cm;
}

.glassy:hover {
  /* From https://css.glass */
  background: rgba(46, 2, 78, 0.11);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
